<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Create new </title>
</head>
<body>
<h3>Create new </h3>
<th:blockth th:if="${message}">
  <p th:text="${message}" ></p>
</th:blockth>
<p>
  <a th:href="@{/book}">Back to list customer</a>
</p>
<form th:action="@{/book/create}" method="post" th:object="${book}">
  <table>
    <tr>
      <td> Name</td>
      <td><input type="text" th:field="*{name}"></td>
      <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></td>
    </tr>
    <tr>
      <td> Amount</td>
      <td><input type="text" th:field="*{amount}"></td>
      <td th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}"></td>
    </tr>
    <tr>
      <td></td>
      <td><input type="submit" value="Create"></td>
    </tr>
  </table>
</form>
</body>
</html>