<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create new </title>
</head>
<body>
<h3>Create new </h3>

<p>
    <a th:href="@{/book}">Back to list customer</a>
</p>
<form th:action="@{/borrow-cart/create}"  th:object="${book}">
    <input type="hidden" th:field="*{id}">
    <table>
        <tr>
            <td> Name</td>
            <td><label  th:text="*{name}"></label></td>
        </tr>
        <tr>
            <td> Amount</td>
            <td><label  th:text="*{amount}"></label></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Borrow"></td>
        </tr>
    </table>
</form>
</body>
</html>