<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create new </title>
</head>
<body>
<h3>Create new </h3>
<th:blockth th:if="${message}">
    <p th:text="${message}" ></p>
</th:blockth>
<p>
    <a th:href="@{/provinces}">Back to list customer</a>
</p>
<form th:action="@{/provinces/save}" method="post" th:object="${province}">
    <table>
        <tr>
            <td> Name</td>
            <td><input type="text" th:field="*{name}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Create"></td>
        </tr>
    </table>
</form>
</body>
</html>