<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>info </title>
</head>
<body>
<p><a th:href="@{/provinces}">Back to list </a></p>
<h3>list customer of : <span th:text="${province.name}"></span></h3>
    <table border="1">
        <tr>
            <th>#</th>
            <th>First name</th>
            <th>Last name</th>
        </tr>
        <th:block th:each="customer,row : ${customers}">
            <tr>
                <td th:text="${row.count}"></td>
                <td th:text="${customer.firstName}"></td>
                <td th:text="${customer.lastName}"></td>
            </tr>
        </th:block>
    </table>
</form>
</body>
</html>