<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create new </title>
</head>
<body>
<h3>Create new </h3>
<th:blockth th:if="${message}">
  <p th:text="${message}" ></p>
</th:blockth>
<p>
  <a th:href="@{/customers}">Back to list customer</a>
</p>
<form th:action="@{/customers/save}" method="post" th:object="${customer}">
    <table>
        <tr>
            <td>First Name</td>
            <td><input type="text" th:field="*{firstName}"></td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td><input type="text" th:field="*{lastName}"></td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td><select  th:field="*{province}">
                <option th:each="province:${provinces}" th:value="${province.id}" th:text="${province.name}"></option>
            </select></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Create"></td>
        </tr>
    </table>
</form>
</body>
</html>