<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List customer</title>
    <style>
        #rowHover:hover{
            font-weight: bold;
        }
    </style>
</head>
<body>
<h3>List customer </h3>
<p>
    <a th:href="@{/home}">>>Home<<</a>
</p>
<p>
    <a th:href="@{/customers/create}">>>Create new customer<<</a>
</p>
<form>
    Search by first name:
    <input name="search" type="text"/>
    <input type="submit" value="Search"/>
</form>

    <table style="width: 90% ;text-align: center;">
        <tr style="font-size: x-large; font-weight: bold;  background: cadetblue">
            <td>#</td>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Province</td>
            <td>Edit</td>
            <td>Delete</td>
        </tr>
        <tr th:each="customer,row:${customers}" id ="rowHover">
            <td th:text="${row.count}"></td>
            <td th:text="${customer.getFirstName()}"></td>
            <td th:text="${customer.getLastName()}"></td>
            <td th:if="${customer.province}" th:text="${customer.province.name}"></td>
            <td th:unless="${customer.province}"></td>
            <td><a th:href="@{/customers/{id}/edit(id=${customer.getId()})}">Edit</a></td>
            <td><a th:href="@{/customers/{id}/delete(id=${customer.getId()})}">Delete</a></td>
        </tr>
    </table>
<div>
    <a th:href="@{'/customers'(page=${customers.number - 1})}" th:if="${customers.hasPrevious()}">Previous</a>
    <span th:text="${customers.number + 1}"></span>/<span th:text="${customers.totalPages}"></span>
    <a th:href="@{'/customers'(page=${customers.number + 1})}" th:if="${customers.hasNext()}">Next</a>
</div>
</body>
</html>