<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>list customer</h3>
<p>
    <a th:href="@{/customer/create}">Add new customer</a>
</p>
<table>
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Email</th>
        <th>Address</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <tr th:each="customer,rowStat : ${customers}">
        <td th:text="${rowStat.count}"></td>
        <td th:text="${customer.name}"></td>
        <td th:text="${customer.email}"></td>
        <td th:text="${customer.address}"></td>
        <td><a th:href="@{/customer/{id}/edit(id=${customer.getId()})}">edit</a></td>
        <td><a th:href="@{/customer/{id}/delete(id=${customer.getId()})}">delete</a></td>
        <td><a th:href="@{/customer/{id}/view(id=${customer.getId()})}">view</a></td>
    </tr>
</table>
</body>
</html>